---
import { format } from 'date-fns';

import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';
const posts = (await getCollection('posts')).sort(
  (a, b) =>
    a.data.date.valueOf() - b.data.date.valueOf()
);
---

<Layout>
  <main>
    <div>
      <section>
        <ol class="list-none">
          {
            posts.map((post) => (
              <article>
                <li class="text-lg py-2 font-inter">
                  <time
                    datetime={format(
                      new Date(post.data.date),
                      'yyyy-MM-dd'
                    )}
                  >
                    {format(new Date(post.data.date), 'yyyy-MM-dd')}
                  </time>
                  <a
                    href=`/posts/${post.slug}`
                    class="text-blue-600 hover:text-gray-600 hover:underline"
                  >
                    {post.data.title}
                  </a>
                </li>
              </article>
            ))
          }
        </ol>
      </section>
    </div>
  </main>
</Layout>
