---
import { format } from 'date-fns';
import Layout from './Layout.astro';

import type { CollectionEntry } from 'astro:content';
interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  type="article"
  coverImage={post.data.coverImage}
>
  <main>
    <article>
      <header class="block my-10 font-inter">
        <h1 class="font-bold text-4xl">{post.data.title}</h1>
        <time
          datetime={format(post.data.date, 'yyyy-MM-dd')}
          class="text-sm text-gray-500"
        >
          {format(post.data.date, 'yyyy-MM-dd')}
        </time>
      </header>
      <div class="markdown mb-10">
        <Content />
      </div>
      <style is:global>
        .markdown {
          @apply font-inter break-words;
        }
        .markdown p {
          @apply mb-5;
        }
        .markdown h1 {
          @apply font-bold text-3xl mb-5;
        }
        .markdown h2 {
          @apply font-bold text-2xl mb-5;
        }
        .markdown h3 {
          @apply font-bold text-xl mb-5;
        }
        .markdown h4 {
          @apply font-bold;
        }
        .markdown ul {
          @apply list-disc list-inside mb-5;
        }
        .markdown li {
          @apply font-inter pb-1;
        }
        .markdown li > code::before {
          content: '`';
        }
        .markdown li > code::after {
          content: '`';
        }
        .markdown li > code {
          @apply font-inter font-bold;
        }
        .markdown pre {
          @apply p-3 mb-5;
        }
        .markdown pre > code {
          @apply font-source-code-pro;
        }
        .markdown a {
          @apply underline hover:text-blue-500;
        }
        .markdown img {
          @apply my-3 rounded shadow-lg;
        }
        .markdown p:has(> img) {
          @apply text-center;
        }
        .markdown p > code::before {
          content: '`';
        }
        .markdown p > code::after {
          content: '`';
        }
        .markdown p > code {
          @apply font-inter font-bold;
        }
        .markdown blockquote {
          @apply border-l-gray-600 border-l-4 pl-4 italic;
        }
        .markdown hr {
          @apply h-1 mb-5 bg-gray-600;
        }
      </style>
    </article>
  </main>
  <footer>
    <a
      href="/"
      class="flex justify-center my-10 font-inter text-sm text-blue-600 hover:text-gray-600 hover:underline"
    >
      Home
    </a>
  </footer>
</Layout>
